<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <div class="center">
      <div class="structer">
        <div>
        <h2>Login Account</h2>
        </div> 
        <div class="content">
         <form class="form-page" method="post" action="/login">
            
            <% if (typeof error !== "undefined" && error) {%>
                 <p style="color:red;"><%= error %></p>
            <% } %>

              <input class="inputs" type="email" placeholder="Email" name="email" value="" required>
              <input class="inputs" type="password" placeholder="Password" name="password" required>
              <button class="login" type="submit">Login</button>
              <span><a href="/">Don't have an account?</a></span>
            </form>
        </div>
    </div>
</body>
</html>