<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="user">
        <h1>Hey Welcome <%= user.name %></h1>
        </div>
        <div class="container">
        <img src="images/cat.jpg" alt="prank.img" height="400px" width="400px">
        <P>👇</P>
        <span><a href="/logout">Logout</a></span>
        </div>
    </div>
</body>
</html>