body{
     background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
     width: 100%;
}

.center{
    justify-content: center;
    display: flex;
    position: absolute;
    top: 25%;
    width: 99%;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
}


.form-page input{
    padding: 5px 5px;
    margin: 5px 0px;
    border-radius: 1px;
    height: 28px;
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: rgb(247, 245, 245);
    box-shadow: 1px 1px 3px rgba(139, 138, 138, 0.3);
    border: 2px solid rgb(182, 180, 180);
    outline: none;
}

.content h2{
    margin: 2px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}


.content form{
    display: flex;
    flex-direction: column;
    width: 70%;

}

.structer{
    width: min(90%, 400px);
    height: 17rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
    border-radius: 3px;
}

.structer h2{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    margin: 5px 0px;
}

.form-page p {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 0px;
}

.login{
       background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
      border: none;
      width: 100%;
      height: 35px;
      border-radius: 19px;
      color: black;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      margin: 5px 0px;
      font-size: 15px;
}

.create-btn a {
    text-decoration: none;
}

.form-page span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0px;
}

.form-page span a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}